@font-face {
  font-family: "iconfont"; /* Project id 5204928 */
  src: url('iconfont.woff2?t=1783853990276') format('woff2'),
       url('iconfont.woff?t=1783853990276') format('woff'),
       url('iconfont.ttf?t=1783853990276') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e639";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-juejin:before {
  content: "\e609";
}

.icon-xiaoxi:before {
  content: "\e638";
}

.icon-chat-ai-4-line:before {
  content: "\e7c9";
}

.icon-AIzhushou:before {
  content: "\e612";
}

.icon-zhengyan:before {
  content: "\e6cf";
}

.icon-biyan:before {
  content: "\e6d1";
}

.icon-suoding:before {
  content: "\e602";
}

.icon-jiesuo:before {
  content: "\e605";
}

.icon-yemiancaozuo:before {
  content: "\e64e";
}

.icon-tuichu:before {
  content: "\e606";
}

.icon-huoyue:before {
  content: "\e60f";
}

.icon-w_huo:before {
  content: "\e669";
}

.icon-shujukanban:before {
  content: "\e63e";
}

.icon-yonghuguanli:before {
  content: "\e608";
}

.icon-team-fill:before {
  content: "\e7a3";
}

.icon-a-jobpal-solid-primary-copy:before {
  content: "\e7d2";
}

.icon-a-jobpal-solid-primary-copy-copy:before {
  content: "\e7d3";
}

.icon-a-jobpal-solid:before {
  content: "\e623";
}

.icon-shuaxin:before {
  content: "\e601";
}

.icon-tianjia:before {
  content: "\e607";
}

.icon-beizhu:before {
  content: "\e7d1";
}

.icon-remark:before {
  content: "\e676";
}

.icon-bianji:before {
  content: "\e65d";
}

.icon-yingyongkaifazhe:before {
  content: "\e762";
}

.icon-shezhi:before {
  content: "\e618";
}

.icon-shanchu:before {
  content: "\e64c";
}

.icon-add:before {
  content: "\e637";
}

.icon-sousuotubiao:before {
  content: "\e6bb";
}

.icon-lianjie:before {
  content: "\e600";
}

.icon-gitee:before {
  content: "\e604";
}

.icon-lianxi2hebing_jilu:before {
  content: "\e630";
}

.icon-yonghu:before {
  content: "\e603";
}

.icon-send-s:before {
  content: "\e652";
}

.icon-a-jianli:before {
  content: "\e621";
}

.icon-a-gangwei:before {
  content: "\e622";
}

.icon-a-jianliyouhua:before {
  content: "\e61e";
}

.icon-a-dingxiangshuati:before {
  content: "\e61f";
}

.icon-a-monimianshi:before {
  content: "\e620";
}

.icon-a-jobpal:before {
  content: "\e749";
}

