@font-face {
  font-family: "iconfont"; /* Project id 5204928 */
  src: url('iconfont.woff2?t=1783422485905') format('woff2'),
       url('iconfont.woff?t=1783422485905') format('woff'),
       url('iconfont.ttf?t=1783422485905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e601";
}

.icon-tianjia:before {
  content: "\e607";
}

.icon-beizhu:before {
  content: "\e7d1";
}

.icon-remark:before {
  content: "\e676";
}

.icon-bianji:before {
  content: "\e65d";
}

.icon-yingyongkaifazhe:before {
  content: "\e762";
}

.icon-shezhi01-F:before {
  content: "\e618";
}

.icon-shanchu:before {
  content: "\e64c";
}

.icon-add:before {
  content: "\e637";
}

.icon-sousuotubiao:before {
  content: "\e6bb";
}

.icon-lianjie:before {
  content: "\e600";
}

.icon-gitee:before {
  content: "\e604";
}

.icon-lianxi2hebing_jilu:before {
  content: "\e630";
}

.icon-yonghu:before {
  content: "\e603";
}

.icon-send-s:before {
  content: "\e652";
}

.icon-a-jianli:before {
  content: "\e621";
}

.icon-a-gangwei:before {
  content: "\e622";
}

.icon-a-jianliyouhua:before {
  content: "\e61e";
}

.icon-a-dingxiangshuati:before {
  content: "\e61f";
}

.icon-a-monimianshi:before {
  content: "\e620";
}

.icon-a-jobpal:before {
  content: "\e749";
}

